<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Complete Reservation</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
    <h2>Complete Reservation</h2>
    <p>Airline: <span th:text="${flight.operatingAirlines}"></span></p>
    <p>Flight Number: <span th:text="${flight.flightNumber}"></span></p>
    <p>Departure City: <span th:text="${flight.departureCity}"></span></p>
    <p>Arrival City: <span th:text="${flight.arrivalCity}"></span></p>
    <p>Date of Departure: <span th:text="${flight.dateOfDeparture}"></span></p>
    <p>Time: <span th:text="${flight.estimatedDepartureTime}"></span></p>

    <form th:action="@{/completeReservation}" method="post">
        <!-- CSRF Token -->
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <fieldset>
            <legend>Passenger Details:</legend>
            <label>First Name:<input type="text" name="firstName" required/></label>
            <label>Last Name:<input type="text" name="lastName" required/></label>
            <label>Email:<input type="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"/></label>
            <label>Phone:<input type="tel" name="phone" required pattern="[0-9]{10}"/></label>
        </fieldset>
        <fieldset>
            <legend>Payment Details:</legend>
            <label>Credit Card Number:<input type="text" name="cardNumber" required pattern="[0-9]{16}" maxlength="16"/></label>
            <label>Amount:<input type="text" name="amount" th:value="${flight.price}" readonly/></label>
            <label for="expiryDate">Expiry Date:</label>
            <input type="text" id="expiryDate" name="expiryDate" required pattern="\d{2}/\d{2}">
            <br>
            <label for="cvv">CVV:</label>
            <input type="text" id="cvv" name="cvv" required pattern="\d{3}">
        </fieldset>
        <input type="hidden" name="flightId" th:value="${flight.id}"/>
        <input type="submit" value="Confirm"/>
    </form>
</body>
</html>